/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #b3e0e9, #fef6e4);
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: 4vh;
  width: auto;
}
.login-container {
    background-color: white;
    border-radius: 20px;
    width: 30vw;
    height: 50vh;
    min-height: 400px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: #457B9D 0px 0px 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.login-box {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo */
.logo {
  height: 4vh;
  width: auto;
  margin-bottom: 10px;
}

/* Título */
h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Formulário */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #444;
  text-align: left;
}

input{
    width: 200px;
    height: 25px;
    padding: 6px 12px;
    border: 1px solid rgb(89, 132, 153);
    border-radius: 20px;
    background: #fff;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 12px;
    outline: none;
}

/* Link "Primeiro acesso" */
.link {
  text-align: left;
  font-size: 0.85rem;
  color: #3366cc;
  text-decoration: none;
  margin-bottom: 15px;
}

.link:hover {
  text-decoration: underline;
}

/* Botão de login */
button {
  background-color: #336699;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #29527a;
}


.link-button {
  background: none;
  border: none;
  color: #3366cc;
  font-size: 0.85rem;
  text-align: left;
  padding: 0;
  margin-bottom: 15px;
  cursor: pointer;
}

.link-button:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
    .login-container{
        width: 60vw;
        height: 50vh;
    }
    input{
        width: 80%;
    }
    button{
        width: 80%;
        align-items: center;
        align-content: center;
        align-self: center;
    }
}